@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

h1{
  padding: 20px;
  justify-content: center;
  align-self: center;
  color: rgb(206, 48, 74);
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-caution{
  margin: 0 20px;
  padding: 12px;
  background: rgb(216, 66, 66);
  border-radius: 8px;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
  font-size: larger;
}

.btn-succes{
  margin: 0 20px;
  padding: 12px;
  background: blueviolet;
  border-radius: 8px;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
  font-size: larger;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
